<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308007394086-gtgl02amer2cka47js3srq2tvld52882.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308007394086-gtgl02amer2cka47js3srq2tvld52882</string>
	<key>API_KEY</key>
	<string>AIzaSyCR-gYzCU6ipxM14tnxh87N3wDBN-UVidY</string>
	<key>GCM_SENDER_ID</key>
	<string>308007394086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melihyuvaci.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-9d61b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-9d61b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308007394086:ios:0c8f4044e2f62928e13fe7</string>
</dict>
</plist>